.PostsFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
}
.Post {
    width: 30%;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    -webkit-box-shadow: 0 2px 3px #ccc;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}