.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
    background: #5d5d5d;
    margin-bottom: 30px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}
.navbar ul li a:hover,
.navbar ul li a:active,
.navbar ul li a.navActive{
    color: #ffb01f;
}